@import './base/base';
.shopPage {
    max-width: 100%;
    height: 100%;
    margin-top: 8rem;
    margin-left: calc(100% / 6);
    z-index: 0;
    padding: 2.4rem;
    font-family: $font-light;
    .longblock {
        width: 100%;
        height: 11.2rem;
        background: #fcfcfc;
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.08);
        border-radius: 12px;
        font-family: $font-regular;
        line-height: 11.2rem;
        .shop-name{
            font-size: 3.6rem;
            margin-left: 4rem;
        }
        .shop-location{
            font-size: 2rem;
            margin-left: 4.8rem;
        }
    }
    .four-blocks{
        width: 100%;
        height: 9.6rem;
        display: flex;
        justify-content: space-between;
        margin: 4rem 0;
        .smallblock{
            width: calc(100% / 4.5);
            height: 9.6rem;
            box-shadow: 0 15px 30px 0 rgba(0,0,0,0.08);
            border-radius: 12px;
            display: flex;
            justify-content: space-between;
            padding: 2.2rem;
            &:nth-child(1){
                background-color: #A9D7DA;
            }
            &:nth-child(2){
                background-color: #B8E0BC;
            }
            &:nth-child(3){
                background-color: #FDF3C8;
            }
            &:nth-child(4){
                background-color:  #DC6B6E;
                color: white;
            }
            .label{
                font-size: 2.4rem;
                line-height: 3.3rem;
                span{
                    font-size: 1.2rem;
                    font-family: $font-light;
                }
                .smalllabel{
                    font-size: 1.4rem;
                    line-height: 2rem;
                }
            }
        }
    }
    .shop-chart{
        background: #FCFCFC;
        box-shadow: 0 15px 30px 0 rgba(0,0,0,0.08);
        border-radius: 12px;
        padding: 2.4rem;
        .chart-head{
            display: flex;
            justify-content: space-between;
            p{
                font-family: PingFangSC-Light;
                font-size: 24px;
                color: #444444;
                letter-spacing: 0.55px;
            }
            .chart-head-right{
                display: flex;
                align-items: center;
                img{
                    margin-left: 4rem;
                }
            }
            .chart-wrapper{
                .line-chart{
                }
            }
        }

    }
    .shoplist-threeblocks{
        margin: 2.4rem 0;
        display: flex;
        justify-content: space-between;
        .block{
            position: relative;
            padding: 2.4rem;
            background: #FCFCFC;
            box-shadow: 0 1.5rem 3rem 0 rgba(0,0,0,0.08);
            border-radius: 1.2rem;
            width: calc(100% / 3.5);
            .block-title{
                font-size: 2.4rem;
            }
            img{
                float: right;
            }
            ul{
                font-size: 1.4rem;
                margin-top: 1.2rem;
                li{
                    border-block-end: 0.1rem solid #D5D5D5;
                    span{
                        display: inline-block;
                        margin: 1.2rem 0;
                        width: 50%;
                    }
                }
            }
            .label-detail{
                position: absolute;
                left: 2.4rem;
                bottom: 3.4rem;
                color: #3FA9F5;
                font-family: $font-medium;
                font-size: 1.4rem;
            }
            .scrollbars{
                display: inline-block;
                display: flex;
                justify-content: center;
                margin: 3.55rem 0 0.8rem 0;
                span{
                    display: inline-block;
                    width: 5.6rem;
                    height: 0.1rem;
                    background-color: #D5D5D5;
                    &:nth-of-type(1){
                        margin-right: 0.4rem;
                    }
                    &.bar-current{
                        height: 0.2rem;
                        background-color: #3FA9F5 ;
                    }
                }
            }
        }
    }

}