@import './base/base';
.sidebar {
  position: fixed;
  width: calc(100% / 6);
  grid-area: nav;
  min-height: 100%;
  background: #fcfcfc;
  box-shadow: 4px 0 6px 0 rgba(0, 0, 0, 0.08);
  padding-top: 0.1px;

  .sidebar-first-header {
    margin-top: 2.3rem;
    font-size: 2rem;
    font-family: PingFangSC-Regular;
    color: #444444;
    letter-spacing: 0;
    line-height: 3.2rem;
    text-align: center;
  }

  .sidebar-second-header {
    width: 16rem;
    margin: 3rem auto 0;
    background: #444444;
    border-radius: 1.85rem;
    text-align: center;
    font-family: PingFangSC-Medium;
    font-size: 2rem;
    color: #ffffff;
    letter-spacing: 1.43px;
  }

  .page-type {
    margin-top: 4.8rem;
    li {
      margin-left: 5rem;
      margin-bottom: 2.5rem;
      img {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 2.7rem;
        vertical-align: middle;
      }
      a {
        vertical-align: middle;
        font-family: PingFangSC-Regular;
        font-size: 1.6rem;
        color: #444444;
        letter-spacing: 1.14px;
        line-height: 1.8rem;
      }
    }
  }

  .page-setting {
    position: relative;
    bottom: -8rem;
    li {
      margin-left: 5rem;
      margin-bottom: 2.5rem;
      img {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 2.7rem;
        vertical-align: middle;
      }
      a {
        vertical-align: middle;
        font-family: PingFangSC-Regular;
        font-size: 1.6rem;
        color: #444444;
        letter-spacing: 1.14px;
        line-height: 1.8rem;
      }
    }
  }
}
